@font-face {
    font-family: 'Garamond';
    src: url('../fonts/EBGaramond-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoSlab-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-VariableFont_wght.ttf');
}

:root {
    --red : #f00;
    --crimson : #600;
    --scarlet : #c33;
    --orange : #f90;
    --gold : #fc0;
    --yellow : #ff0;
    --naples-yellow : #ff9;
    --lime : #0f0;
    --aqua : #0ff;
    --purple : #60f;
    --pink : #f3f;
}

html, body{
    margin:0;
    overflow-y: hidden;
}

#game{
    background: black;
    border: 3px solid var(--lime);
    margin: 0 auto;
    max-height: 600px;
    max-width: 800px;
    position: relative;
}

#health-bar-container{
    border: 1px solid var(--lime);
    bottom: 8.2px;
    box-sizing: border-box;
    height: 18px;
    position: absolute;
    right: 0;
    width: 301px;
}

#health-bar{
    background-color: var(--lime);
    height: 100%;
    /* transition: width 250ms; */
    width: 100%;
}

#health-bar-label{
    font-weight: 300;
}

#hud{
    color: white;
    font-family: 'Roboto', monospace;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
}

#top-bar{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    margin: 0 auto;
    width: 780px;
}

#title{
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 64px;
    font-weight: 400;
    margin-top: 150px;
    /* position: relative; */
    text-align: center;
    /* top: 100px; */
}

.align-right{
    text-align: right;
}

.hidden{
    display: none;
}

.position-relative{
    position: relative;
}

p{
    margin: 4px;
}