html, body{
    margin:0;
    overflow-y: hidden;
}

#game-container{
    display: flex;
    justify-content: center;
}

#debug{
    position: absolute;
    bottom: 0;
    left: 0;
}

.panel{
    width: 50%;
}